*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: url('imagens/index1.jpg') no-repeat;
    background-size: 100% 100%; /* Define a largura e altura da imagem em porcentagem */
    height: 100vh;
    background-attachment: fixed;
   
}

.border{
    border: 1px solid red;
}

.sidebar{
    position: fixed;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2f3336;
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.logo-img{
    width: 35px;
    min-height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
}

.logo-img:hover{
    transform: scale(1.5);
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}