.container-fluid{
    background-color: #000000;
    color: white;
    position: absolute;
}

.container{
    max-width: 500px;
    background-color: #123155;
    color: white;
    padding: 15px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 510px;
}

input[type='text'], input[type='password'], input[type='email'], button{
    max-width: min-content;
    left: 45%;
    position: relative;
}

.col-9 h1{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.col-6 {
    background-color: #123155;
    color: rgb(255, 255, 255);
    position: absolute;
}

.col-4{
    background-color: #BB7A0B;
    color: rgb(255, 255, 255);
    position: absolute;
}
